@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: var(--font-grotesk-mono);
  color: azure;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
